body {
	color: #444444;
	font-family: 'Merriweather', serif;
}

h1 {
	margin: 0;
	padding: 140px 0;
	text-align: center;
	color: #fff;
}

.city-blocks a {
	font-weight: 800;
}

a.nyc:hover {
	/*background: #5C6BC0;*/
}

a.nyc {
	background: #3F51B5;
	background: #3F51B5 url(../images/nyc-blue.png) bottom left;
	background-size: cover;
}

a.london:hover {
	/*background: #EF5350;*/
}

a.london {
	background: #F44336;
	background: #F44336 url(../images/london-red.png) bottom left;
	background-size: cover;
}

a.paris:hover {
	background: #009688;
}

a.paris {
	background: #26A69A;
}

a.chicago:hover {
	/*background: #FFCA28;*/
}

a.chicago {
	background: #FFC107;
	background: #FFC107 url(../images/chicago-yellow.png) center left;
	background-size: cover;
}

a {
	text-decoration: none;
	display: block;
}

.info {
  padding: 30px;
  text-align: center;
}

.emoji {
	font-weight: 100;
}

.footer, .info {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}

.footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.footer ul li {
	display: inline-block;
}

.footer a {
  text-decoration: none;
  margin: 0 15px;
  padding: 0 0 10px 0;
  color: #444444;
  font-size: 14px;
}
